/* The popup chat - hidden by default */
.popupContainer {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
  height: -300px;
}

/* Add styles to the form container */ 
.formContainer {
max-width: 300px;
padding: 10px;
background-color: white;
}

.messajeTextArea {
  height: 250px;
  min-height: 250px;
  min-width: 100%;
  max-width: 100%;
  width: 100%;
  background: #f1f1f1;
  border: 3px solid #f1f1f1;
}

/* Full-width textarea */
.formContainer > .txtAContainer > .textArea {
width: 90%;
padding: 15px;
margin: 5px 0 22px 0;
border: none;
background: #f1f1f1;
resize: none;
min-height: 35px;
}
/* Button used to open the chat form - fixed at the bottom of the page */
.chatButton {
  display: block;
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup chat - hidden by default */
.formPopup {
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.formContainer {
  max-width: 280px;
  padding: 10px;
  background-color: white;
  width: 280px;
}

/* When the textarea gets focus, do something */
.formContainer > .txtAContainer > .textArea:focus {
  background-color: #ddd;
  outline: none;
}

.formContainer > .btnContainer > .btn {
  background-color: #4CAF50;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  width: 45%;
  margin-bottom:10px;
  opacity: 0.8;

}

/* Add a red background color to the cancel button */
.formContainer > .btnContainer > .btn-cancel {
  background-color: red;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  width: 45%;
  margin-bottom:10px;
  opacity: 0.8;
  margin-left: 1em;
}

/* Add some hover effects to buttons */
.formContainer > .btn:hover, .chatButton:hover {
  opacity: 1;
}